<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="description" content="The most satisfying task list ever conceived.">
    <title>Checking Off Boxes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <link
            rel="icon"
            sizes="16x16 32x32 48x48"
            type="image/svg+xml"
            href="{% static 'img/icons/circle-check-solid-full.svg' %}"
    />
    <script src="https://kit.fontawesome.com/d0f093b8bc.js" crossorigin="anonymous"></script>
</head>
<body>
<header>
    <div style="display:flex; align-items: center; padding: 5px">
        <a class="ImageLink" href="/">
            <span class="fa-solid fa-house-chimney" style="font-size: 32px;"></span>
        </a>
        <span class="site-name">Checking Off Boxes!</span>
    </div>
    <i class="fa-solid fa-circle-user" style="font-size: 32px;" title="User authentication not yet implemented"></i>
</header>
<nav class="left-sidebar"></nav>
<main>
    {% block content %}
    {% endblock %}
</main>
<aside class="right-sidebar"></aside>
<footer>
    <div class="footer-container">
        <span class="copyright">
            &copy;2025 Alexander Salmon. All Rights Reserved.
        </span>
    </div>
</footer>
</body>
</html>