{% extends 'board/base.html' %}

{% block content %}
    <h1>Boards</h1>
    <a href="/boards/boardform/">
        <button>Create New Board</button>
    </a>
    {% for board in boards %}
        <div class="COBCard BoardDetailCard">
            <h2>{{ board.name }}</h2>
            <p class="CreatedDateTime">Created: {{ board.created_datetime }}</p>
            <p>It would be nice to see the number of tasks</p>
            <form action="/boards/{{ board.id }}">
                <input type="submit" value="View">
            </form>
        </div>
    {% endfor %}
{% endblock %}
