{% extends 'board/base.html' %}

{% block content %}
    <h1>Create a Task</h1>
    <div class="COBCard">
        <form action="/boards/" method="post"> {% csrf_token %}
            <table>{{ form.as_table }}</table>
            <br>
            <div class="buttonbar">
                <input style="border-color: cyan" type="submit" value="Save">
                <button type="button" onclick="window.location.href='/boards/'">Cancel
                </button>
            </div>
        </form>
    </div>
{% endblock %}