:root {
    --darkest: #000f0f;
    --normal-10: #00331f;
    --normal-15: #004d2e;
    --normal-20: #00663d;
    --normal-25: #00804d;
    --normal-30: #00995c;
    --normal-50: #00ff99;
    --normal-90: #ccffeb;
    background-color: var(--darkest);
    color: ghostwhite;
    font-family: "Arial", sans-serif;
}

i {
    color: var(--normal-50);
}

a.ImageLink {
    color: var(--normal-50);
}

a.ImageLink:visited {
    color: var(--normal-50);
}

h2 {
    margin: 0;
}

div.COBCard {
    background: var(--normal-15);
    border: 2px solid var(--normal-50);
    border-radius: 4px;
    padding: 20px;
    box-shadow: 5px 5px 5px #ffffff30;
    margin: auto 0;
    transition: background-color 0.5s ease-in-out;
}

div.COBCard:hover {
    background: var(--normal-20);
}

.BoardDetailCard {
    margin-bottom: 10px;
    width: 250px;
}

button, input[type="submit"] {
    background-color: transparent;
    border: 2px solid var(--normal-90);
    color: ghostwhite;
    padding: 5px 10px;
    border-radius: 4px;
    transition: background-color 0.5s ease-in-out;
}

button:hover, input[type="submit"]:hover {
    background-color: #ffffff3a;
    cursor: pointer;
}

.buttonbar {
    display: flex;
    gap: 5px;
    justify-content: right;
}

p.CreatedDateTime {
    font-size: 9pt;
    color: darkgray;
    font-style: italic;
    margin: 0;
}

input[type="text"], textarea {
    background-color: transparent;
    color: ghostwhite;
    font-family: Arial, sans-serif;
    border-radius: 4px;
    padding: 5px;
}

input[type="text"] {
    width: 16em;
}

textarea {
    background-color: transparent;
    width: 32em;
    height: 3em;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 1px solid var(--normal-50);
    top: 0;
    width: 100%;
}

main {
    margin-left: auto;
    margin-right: auto;
    width: 640px;
    height: 100vh;
    padding: 20px;
    background-color: #ccffff1a;
    border-left: 1px solid var(--normal-50);
    border-right: 1px solid var(--normal-50)
}

.site-name {
    font-size: 32px;
    font-style: italic;
    font-weight: bold;
}

.copyright {
    color: gray;
    font-size: x-small;
}

footer {
    /*position: fixed;*/
    bottom: 0;
    border-top: 1px solid var(--normal-50);
}

.TaskBoard {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 0;
}

.TaskStateCol {
    border-left: 1px solid var(--normal-50);
    /*display: grid;*/
    /*justify-content: center;*/
    padding: 5px;
    text-align: center;
}

hr {
    background-color: var(--normal-50);
    height: 1px;
    border: none;
}

.TaskStateCol:last-of-type {
    border-right: 1px solid var(--normal-50);
}

.EntityTitle {
    font-size: 16pt;
    font-weight: bold;
    margin: 0 0 5px 0;
}

.TaskCard {
    display: inline-block;
    margin: 5px auto;
}

.ContextMenu {
    display: none;
    position: absolute;
    background-color: var(--normal-15);
    min-width: 160px;
    z-index: 1000;
    border: 1px solid var(--normal-50);
}

.ContextMenu ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.ContextMenu li a {
    color: whitesmoke;
    padding: 5px;
    text-decoration: none;
    display: block;
    transition: background-color 0.5s ease-in-out;
}

.ContextMenu li a:hover {
    background-color: var(--normal-20);
}

.ContextMenu .separator {
    border-top: 1px solid var(--normal-50);
    margin: 5px 0;
}

/* Class to show the menu */
.ContextMenu.show {
    display: block;
}

button.delete {
    border-color: rosybrown;
}

i.delete {
    color: rosybrown;
}
